ecotron.co.in, www.ecotron.co.in {
    reverse_proxy web:3000

    encode zstd gzip

    header {
        # Enable HSTS
        Strict-Transport-Security "max-age=31536000;"
        # Prevent Clickjacking
        X-Frame-Options "DENY"
        # Prevent MIME sniffing
        X-Content-Type-Options "nosniff"
        # Referrer Policy
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    log {
        output file /data/access.log
    }
}
